.sidebar {
  position: fixed;
  left: 0;
  width: 72px;
  top: 56px;
  bottom: 0;
  background-color: white;
  padding-top: 3.6px;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 11px;
  cursor: pointer;

  position: relative;
}

.sidebar-link .tooltip {
    position: absolute;
    left: 2px;
    top: 100%;
    background-color: white;
    color: black;
    font-size: 12px;
    padding: 5px 8px;
    border: 1px solid black;
    white-space: nowrap;
    display: none; /* Hide initially */
    z-index: 10;
  }
  
  .sidebar-link:hover .tooltip {
    display: block; /* Show tooltip on hover */
  }


.sidebar-link:hover {
  background-color: rgb(240, 240, 240);
}

.sidebar-link img {
  height: 24px;
  width: 24px;
  margin-bottom: 6.8px;
}

.sidebar-link div {
  color: rgb(15, 15, 15);
  font-size: 10px;
}
